/*header*/
#header{
  font-family: Verdana, sans-serif;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.Logo{
  display: flex;
  align-items: center;
}

.nav{
  display: inline-block;
  margin: 0 60px;
}

.nav a{
  text-decoration: underline;
  margin: 0 10px;
  color: black;
}

#MyTimes{
  color: MediumAquamarine;
  margin: 0 10px;
}

/*main container*/
#main{
  display: flex;
  border: 1px solid black;
}

.column{
  display: flex;
  flex-direction: column;
  margin: 40px 60px 0px 0px;
}

.large.column{
  width: 630px;
}

.medium.column{
  width: 300px;
}

.small.column{
  width: 240px;
}

.story{
  border: 1px solid black;
  align-items: stretch;
}
