/*header*/
#header{
  font-family: Verdana, sans-serif;
  display: flex;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 5;
  background-color: white;
  font-weight: bold;
  top: 0px;
  left: 0px;
  padding: 0 30px;
}

.Logo{
  display: flex;
  align-items: center;
}

.nav{
  display: inline-block;
  font-size: 14px;
  padding: 0 60px;
}

.nav a{
  text-decoration: underline;
  margin: 0 10px;
  color: black;
}

#MyTimes{
  color: MediumAquamarine;
  margin: 0 10px;
}

/*main container*/
#main{
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
  border: 1px solid black;
}

#main div{
  border: 1px solid black;
}

.column{
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large{
  width: 630px;
}

.column.medium{
  width: 300px;
}

.column.small{
  width: 240px;
}
